.wrapper
  = render 'shared/left_chat'
  .main-chat
    .main-chat__main-header
      .main-chat__main-header-box
        .main-chat__main-header-group
          サンプル
        .main-chat__main-header-menber
          Menber: seo
      .main-chat__edit-btn
        = link_to 'Edit', edit_group_path(@group), class: 'btn'
    .main-chat__main-contents
      .main-chat__main-messages
        .main-chat__main-messages-user
          seo
        .main-chat__main-messages-data
          2019/07/10(水)21:00
        .main-chat__main-messages-coment
          Hello World!
        .main-chat__main-messages-user
          neko
        .main-chat__main-messages-data
          2019/07/10(水)22:00
        .main-chat__main-messages-coment
          Hello Haml!
    .main-chat__from
      .main-chat__from-tag
        type a message
        .main-chat__from-image
          = fa_icon 'image'
      .main-chat__submit-btn
        Send
      


